<html>
  <head>
    <title>Online Voting Platform</title>
    <meta name="csrf-token" content="<%= csrf %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body
    class="min-h-screen w-full"
  >
    <div class="flex justify-center text-blue-800">
      <%- include ('updatedHeader', {username: username}) %>
    </div>
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <hr />
        <div class="pt-6 flex justify-between">
          <p class="font-bold text-4xl">Your Elections</p>
          <a
            href="/elections/new"
            class="bg-green-600 hover:bg-green-800 font-semibold rounded-lg p-2 text-white"
          >
            <i class="fa fa-plus"></i> New Election
          </a>
        </div>
        <!-- List of Elections -->
        <div><%- include ('elections.ejs') %></div>
      </div>
    </div>
  </body>
</html>
