<html>
  <head>
    <title>Online Voting Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-red-100 h-full w-full">
    <div class="flex justify-center text-blue-800">
      <div class="flex flex-col gap-2 w-full">
        <div class="flex flex-col justify-center items-center text-blue-800">
          <%- include ('header') %>
        </div>
        <div class="text-black flex flex-col justify-between items-center">
          <div class="flex flex-col md:w-2/5 w-full">
            <div class="flex justify-between w-full">
              <div class="flex justify-center items-center gap-2">
                <i class="fa fa-user flex items-center justify-center"></i>
                <p
                  class="font-semibold text-xl flex items-center justify-center"
                >
                  <%= username %>
                </p>
              </div>
              <div class="flex gap-4">
                <a
                  class="text-white hover:bg-red-500 bg-red-600 p-2 rounded-lg"
                  href="/signout"
                  >Sign Out</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <hr />
        <div class="pt-6 flex justify-between">
          <p class="font-bold text-gray-800 text-2xl">Available Elections</p>
          <a
            href="/elections/new"
            class="bg-green-500 border-2 hover:bg-green-600 rounded-lg p-2 text-white"
          >
            New Election
          </a>
        </div>
        <div><%- include ('elections.ejs') %></div>
      </div>
    </div>
  </body>
</html>
