<header>
  <div class="bg-gray-50 dark:bg-gray-900 w-screen" >
    <center>
      <h1 class="text-4xl text-white p-3 font-semibold">
        Online Voting Platform
      </h1>
    </center>
  </div>
</header>
