<html>
    <head>
        <meta name="csrf-token" content="<%= csrf %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <form action="/election/<%= election.id %>/vote" method="post" class="flex flex-col gap-4 justify-center items-center">
            <input type="hidden" name="_csrf" value="<%= csrf %>">
            <div class="flex flex-col gap-2">
                <label for="voterID">Voter ID</label>
                <input
                class="border-2 flex items-center border-gray-400 p-2 rounded-lg"
                id="voterID"
                placeholder="Voter ID"
                type="text"
                name="voterID"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label for="password">Password</label>
                <input
                class="border-2 flex items-center border-gray-400 p-2 rounded-lg"
                id="password"
                type="password"
                placeholder="Password"
                name="password"
                />
            </div>
            <button class="flex justify-center font-semibold mt-4 p-2 rounded-lg bg-green-500 hover:bg-green-700 text-white">Submit</button>
        </form>

        <!-- flash message -->
        <div class="flex flex-col justify-center items-center gap-3 pt-4">
            <% if (messages && messages.error && messages.error.length > 0) { %>
            <% for(var i=0; i<messages.error.length; i++) {%>
                <div class="bg-red-300 text-red-900 font-semibold p-2 rounded-lg shadow"><%= messages.error[i] %></div>
            <% } %>
            <% } %>
        </div>
    </body>
</html>